<template name="deckItem">
  <div class="deck">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="deck-content">
      <h3>{{title}} <span>id: {{_id}} </span></h3><span> submitted: {{submitted}}</span>
      <p>
        {{votes}} Votes,
        Created by {{author}}, 
        <a href="{{pathFor 'deckPage'}}">{{cardsCount}} Cards</a>
        {{#if ownDeck}}
        <a href="{{pathFor 'deckEdit'}}">Edit</a>
        {{/if}}
      </p>
    </div>
    <div>
      <a href="{{pathFor 'deckPage'}}" class="discuss btn btn-default">View</a>
    </div>
    <div>
      <a href="#" class="discuss study btn btn-primary">Activate</a>
    </div>
  </div>
</template>
